/* TODO:
    - Probably some better fonts (see Google Fonts)
    - Colours need a lot of tweaking, maybe need an accent colour
      to use for links & such
    - Style "on/off campus" links when they're pressed
*/

body {
    background: #333;
    color: #eee;
    font-family: 'Raleway', sans-serif;
    min-width: 479px; /*Just below 480px resolution. Perfect for low res smartphones*/
}

main {
    /* Center in the screen for large displays */
    max-width: 850px;
    margin-left:  auto;
    margin-right: auto;

    margin-bottom: 30px;

    border: 1px solid grey;
    border-radius: 2px;
    padding: 1px;
    background: #222;
}

footer {
    max-width: 850px;
    margin-left:  auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer img {
    height: 64px;
    /* TODO: at some point fix it so that the heights are all equal
       and the widths always fit horizontally in the footer (scale
       responsively) */
}

h1 {
    text-align: center;
}



a{
  color: #4289ad;
  font-style: normal;
}


a:hover{
  color: #3b48bf;
  font-style: normal;
}

pre {
    white-space: pre-wrap;
}

#uoytitlefront:hover{
  color: white;
}

.uoytitle {
  /* vw produces cool scaling effect. Dosen't work on Edge/Internet Explorer */
    color: white;
    transition: 0.5s;
    font-family: 'Zilla Slab Highlight';
    text-shadow: 0 0 80px black, 4vw 2vw #4289ad ,-3vw -2vw #a291f2;
    font-stretch:extra-expanded;
    font-size: 95px;
    margin: 60px;
}




.uoytitle:hover{
  transition:0.5s;
  color: #61cfba;
  font-style: normal;
}


#on-campus, #windows, #mac, #linux {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#platform-select img{
  transition: 0.5s;
  padding: 10px;
  margin: 20px;
}

#platform-select img:hover {
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 0 20px black;
}

#campus-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#campus-select a {
    display: inline-block;
    flex-grow: 1;
    background: #222;
    border: 1px solid white;
    text-align: center;
    padding: 5px;
    margin: 2px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
    border-bottom: 4px, solid, #4289ad;
}

#campus-select a:hover{
    transition-duration: 1s;
    cursor: pointer;
    background-color:white;
    color:black;
}

#on-campus, #off-campus {
    display: none;
}

main[data-platform="windows"] #windowsimg img {color:black; background-color:white; border-radius: 20px;box-shadow: 0 0 20px black;}
main[data-platform="linux"] #linuximg img {color:black; background-color:white; border-radius: 20px;box-shadow: 0 0 20px black;}
main[data-platform="mac"] #appleimg img {color:black; background-color:white; border-radius: 20px;box-shadow: 0 0 20px black;;}

main[data-campus="on-campus"]   #oncampuspressed  {color:black; background-color:white;}
main[data-campus="off-campus"]  #offcampuspressed {color:black; background-color:white;}

main[data-campus="on-campus"]   #on-campus {display: block;}
main[data-campus="off-campus"]  #off-campus {display: block;}

#platform-select {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#platform-select a img {
    /*height: 10vw;*/ /*TODO Create a better icon scaling for Windows, Linux & Mac Icons*/

}

#windows, #mac, #linux {
    display: none;
}

main[data-platform="windows"]   #windows    {display: block;}
main[data-platform="mac"]       #mac        {display: block;}
main[data-platform="linux"]     #linux      {display: block;}


@media screen and (max-width: 650px){
  /*Response when we get to standard phone pixel width*/
    footer {
        flex-direction: column;
        align-items: center;
    }
}

/*Diamond shape for front page*/

/* Index page css */


#portal {
  max-width: 850px;
  margin-left:  auto;
  margin-right: auto;
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
}

.diamondContainer img{
  width: calc(100px + 8vw);
  height: calc(100px + 8vw);
}

#connectImage {
  width: calc(25px + 4vw);
  height: calc(25px + 4vw);
}

#eventsImage {
  width: calc(20px + 4vw);
  height: calc(20px + 4vw);
}

#wikiImage {
  width: calc(25px + 4vw);
  height: calc(25px + 4vw);
}

.diamondContainer{
  width: calc(100px + 8vw);
  height: calc(100px + 8vw);
  position: relative;
  display: inline-block;
}

.diamondContainer .text {
  color: black;
  font-size: 20px;
  text-shadow: 0 20px 500px black;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /*text-shadow: 0px 1px 1px #4d4d4d;*/
  color: #d7ceb2;
  font-family: 'Raleway', sans-serif;
}

.diamondContainer:hover {
  color: blue;
  opacity: 0.3;
  transition-duration: 0.5s;
}

@media screen and (max-width: 1200px){
  /*Response when we get to standard phone pixel width*/
    .diamondContainer .text {
      font-size: 17px;
    }
}

@media screen and (max-width: 800px){
  /*Response when we get to standard phone pixel width*/
    .diamondContainer .text {
      font-size: 15px;
    }
}
