#palette {
    /* border: 1px solid black; */
    position: absolute;
    bottom: 10px;
    width: 90vw;
}

#palette > div {
    width: 5%;
    padding-bottom: 5%;
    clear: none;
    float: left;

    margin-right: 10px;

    background: rgba(0,0,0,0.2);
}

#palette > div:nth-child(1) {background-color: var(--background-color);}
#palette > div:nth-child(2) {background-color: var(--accent-1);}
#palette > div:nth-child(3) {background-color: var(--accent-1-dark);}
#palette > div:nth-child(4) {background-color: var(--accent-2);}
#palette > div:nth-child(5) {background-color: var(--accent-2-dark);}
#palette > div:nth-child(6) {background-color: var(--text);}
#palette > div:nth-child(7) {background-color: var(--heading);}